/*--------------------------------------------------------------
## Background Slides
--------------------------------------------------------------*/
/* --- Full width slides --- */
div.background-slide {
    /* customize each element with style="background-image: url();" */
    background-color: #ccc8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 5px 20px 18px #566356a6;
    margin-bottom: 20vh;
    margin-left: -10vw;
    margin-top: 100px;
    min-height: 65vh;
    overflow-x: hidden !important;
    padding: 5vh;
    width: 120vw;
}

div.background-slide button.topage {
	font-size: 15px;
    margin: 5px 45vw;
    width: 30vw;
}

div.background-slide > p {
    background-color: #b5b5b5;
    background-color: #bbbd;
    border-radius: 15px;
	box-shadow: 0px 5px 30px 10px black;
    color: #333;
    /* font-family: Lato; */
    font-size: 24px;
    line-height: 1.3em;
    padding: 1.3% 5%;
}

div.background-slide > h2 {
	background-color: #0b4407e3;
	box-shadow: 0px 5px 20px 10px black;
}

/* --- User-defined width slides --- */
div.bkg-img {
    /* customize each element with style="background-image: url();" */
    background-color: #ccc8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: outset 8px #cadfcadf;
    box-shadow: 9px 9px 10px 0px #566356;
}

div.bkg-img p {
    color: #dcdcdc;
    font-weight: bold;
    margin-top: 30vh;
    background-color: #55a922dc;
    padding: 3%;
    border-radius: 5px;
    text-align: right;
}

div.bkg-img h3 {
    background-color: #cdcd;
	color: #965f2df5;
}

div.bkg-img img.gallery-img {
    max-height: 100px;
    max-width: 30%;
    border-radius: 0;
}
