/*------Backgrounds for pages--------*/
/* div#page-team {
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
