/*==================================
----------   responsive-css   ------
==================================*/

/* ---- desk screens and laptops ---- */
@media (max-width:1200px) {

  .ps-container,
  .ps-section-container,
  #section-contact .footer-social-wrap,
  #section-contact .ps-contact-form {
    width: 100%;
    padding: 0px 10px;
  }

  .ps-top-header-wrapper {
    width: 100%;
    padding: 5px 10px;
  }

  .home.page-template-template-home .ps-container {
    padding: 0;
  }

  .ps-header-wrapper,
  #section-contact .ps-contant-info {
    width: 100%;
  }

  #section-contact .ps-contant-info,
  #section-contact .footer-social-wrap {
    padding: 40px 10px;
  }

  .home.page-template-template-home .ps-header-wrapper {
    padding: 25px 10px;
  }

  .home.page-template-template-home .sticky-wrapper.is-sticky .ps-header-wrapper {
    padding: 12px 10px;
  }
}

/* ---- small screens --- */
@media (max-width: 768px) {
  /*inner-pages*/
  #primary {
    float: none;
    width: 94%;
    margin-bottom: 40px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .nav-toggle {
    display: block;
  }

  .nav-wrapper .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #292929;
    border-top: 1px solid #555555;
    max-height: 500px;
    overflow-y: scroll;
  }

  /* Main navigation  */
  .main-navigation {
    float: right;
    width: auto;
    margin-left: 20px;
  }

  .main-navigation ul li {
    float: none;
    margin-left: 0;
    text-align: left;
    border-bottom: 1px solid #555555;
  }

  .main-navigation ul li:last-child {
    border-bottom: none;
  }

  .main-navigation ul li a,
  .sticky-wrapper.is-sticky .main-navigation ul li a {
    padding: 5px 5px;
  }

  .main-navigation ul>li a:after,
  .main-navigation ul>li.menu-item-has-children a:after,
  .main-navigation ul li.current>a:after,
  .main-navigation ul li.current_page_item>a:after,
  .main-navigation ul li.current-menu-item>a:after,
  .main-navigation ul li.current_page_ancestor>a:after,
  .main-navigation ul li.current-menu-ancestor>a:after {
    display: none;
  }

  .main-navigation ul li .sub-toggle {
    display: inline-block;
    float: right;
    color: #ffffff;
    font-size: 16px;
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    cursor: pointer;
  }

  .main-navigation ul ul {
    background-color: transparent;
    margin: 0 0 0 10px;
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
  }

  .main-navigation ul ul ul,
  .main-navigation ul ul.sub-menu li:hover>ul,
  .main-navigation ul ul.sub-menu li.focus>ul {
    left: 0;
    right: auto;
    border: none;
    position: static;
  }

  .main-navigation ul ul.sub-menu a,
  .main-navigation ul ul.children a {
    color: #ffffff;
  }

  .main-navigation ul>li.menu-item-has-children {
    padding-right: 0;
  }

  .main-navigation.ps-floating-menu .nav-toggle {
    display: none;
  }

  .main-navigation.ps-floating-menu .nav-wrapper .menu {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    position: static;
  }

  .main-navigation.ps-floating-menu ul li {
    border: none;
    text-align: center;
  }

  .main-navigation ul>li.menu-item-has-children:after {
    display: none;
  }
}

/* --- tablets --- */
@media (max-width: 640px) {

  #primary {
    float: none;
    width: 90%;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .gallery-lg-hide {
    display: inherit;
  }

  .gallery-md-hide {
    display: none;
  }

  .single-slide-wrap .slider-info .ps-container {
    max-width: 90%;
    padding: 5% 20px;
  }

  .single-slide-wrap .slider-title {
    font-size: 28px;
  }

  .single-slide-wrap .slider-desc p {
    margin: 0;
  }


  .ps-top-footer.footer_column_three .ps-footer-widget {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .ps-top-footer.footer_column_three .ps-footer-widget-wrapper {
    margin-left: 0;
  }
}

/* --- smartphones --- */
@media (max-width: 480px) {
  #primary {
    float: none;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  h2, h3, p {
    font-size: 1.5rem;
  }

  ul {
    font-size: 97%;
  }

  table, ul, ol {
    width: 100%;
  }

  .gallery-sm-hide {
    display: none;
  }

  .gallery-img {
    max-width: 120px;
    margin: auto;
  }

  .gallery-block-10,
  .gallery-block-20,
  .gallery-block-25,
  .gallery-block-50,
  .gallery-block-60 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .section-content-wrapper,
  .section-description {
    font-size: 16px;
  }


  .single-slide-wrap .slider-title {
    font-size: 28px;
  }

  .single-slide-wrap .slider-desc {
    display: none;
  }

  .single-slide-wrap .slide-button a {
    margin-bottom: 15px;
  }

  .section-description {
    font-size: 16px;
  }


  .service-nav-tab li:last-child .tab-bullet:after {
    display: none;
  }


  .section-content-wrapper ul li:nth-of-type(2n) {
    margin: 0 auto 30px;
  }

  /* .section-content-wrapper ul li:first-child .team-image-container:hover,
  .section-content-wrapper ul li:nth-of-type(2n+1) .team-image-container:hover {
    right: auto;
    left: -233px;
    z-index: 99;
  } */

}
