/*==================================
----------   responsive-css   ------
==================================*/
/* ---- high definition screens ---- */
@media (min-width:1801px) {
    .gallery-xl-show {
        display: block
    }
    
    .gallery-xl-flex {
        display: inline-flex;
    }
    
    .gallery-xl-cont {
        display: contents;
    }
}

/* ---- large screens ---- */
@media (max-width:1800px) {
    .gallery-lg-hide {
        display: none;
    }

    .gallery-lg-show {
        display: block
    }

    .gallery-lg-flex {
        display: inline-flex;
    }
    
    .gallery-lg-cont {
        display: contents;
    }
}

/* ---- desk screens and laptops ---- */
@media (max-width:1400px) {

    .lc-container,
    .lc-section-container {
        width: 100%;
        padding: 0px 10px;
    }

    .lc-top-header-wrapper {
        width: 100%;
        padding: 5px 10px;
    }
    
    .lc-header-wrapper {
        width: 100%;
    }

    .gallery-lp-hide {
        display: none;
    }

    .gallery-lp-show {
        display: block
    }
    
    .gallery-lp-flex {
        display: inline-flex;
    }
    
    .gallery-lp-cont {
        display: contents;
    }

    .home.page-template-template-home .lc-container {
        padding: 0;
    }

    .home.page-template-template-home .lc-header-wrapper {
        padding: 25px 10px;
    }

    .home.page-template-template-home .sticky-wrapper.is-sticky .lc-header-wrapper {
        padding: 12px 10px;
    }
}

/* ---- notebook screens --- */
@media (max-width: 940px) {

    /*inner-pages*/
    #primary {
        float: none;
        width: 94%;
        margin-bottom: 40px;
        margin-left: 3%;
        margin-right: 3%;
    }

    h2, h3 {
        font-size: 18px;
    }

    .gallery-img {
        border-width: 10px;
        margin: 0 1%;
        max-width: 180px;
    }

    div.bkg-img img.gallery-img {
        max-width: 40%;
    }

    div.bkg-img p {
        font-size: 14px;
        text-align: center;
    }

    .gallery-md-hide {
        display: none;
    }

    .gallery-md-show {
        display: block;
    }

    .gallery-md-flex {
        display: inline-flex;
    }
        
    .gallery-md-cont {
        display: contents;
    }

    #top-menu {
        display: none;
    }

    .is-sticky #top-menu {
        display: block;
    }
}

/* --- tablets --- */
@media (max-width: 640px) {
    #primary {
        float: none;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    p {
        font-size: 1.3rem;
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
    }

    div.background-slide>p {
        font-size: 14px;
    }

    ul, ol {
        list-style: none;
        margin-left: 20%;
    }

    button.topage {
        font-size: 13px;
    }

    div.background-slide button.topage {
        margin: 3px 30vw;
    }

    .gallery-img {
        margin: 0 7%;
        max-width: 120px;
    }

    div.bkg-img img.gallery-img {
        max-width: 45%;
    }
    
    .gallery-tb-hide {
        display: none;
    }
    
    .gallery-tb-show {
        display: block;
    }
    
    .gallery-tb-flex {
        display: inline-flex;
    }
    
    .gallery-tb-cont {
        display: contents;
    }

    .single-slide-wrap .slider-info .lc-container {
        max-width: 90%;
        padding: 5% 20px;
    }

    .single-slide-wrap .slider-title {
        font-size: 28px;
    }

    .single-slide-wrap .slider-desc p {
        margin: 0;
    }

    .lc-top-footer.footer_column_three .lc-footer-widget {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .lc-top-footer.footer_column_three .lc-footer-widget-wrapper {
        margin-left: 0;
    }
}

/* --- smartphones --- */
@media (max-width: 480px) {
    #primary {
        float: none;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 25px;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    table, ul, ol {
        width: 100%;
    }

    ul, ol {
        font-size: 97%;
        margin-left: 7%;
        padding-left: 5%;
        text-indent: -5%;
    }

    div.bkg-img {
        margin: 5px 0;
        width: 100%;
    }

    .site-branding {
        position: fixed;
        top: 30px;
    }

    .is-sticky .site-branding {
        position: relative;
        top: 0px;
    }

    .gallery-sm-hide {
        display: none;
    }

    .gallery-sm-show {
        display: block;
    }

    .gallery-sm-flex {
        display: inline-flex;
    }
    
    .gallery-sm-cont {
        display: contents;
    }

    .gallery-img {
        margin: 0 10%;
        max-width: 140px;
    }

    .gallery-block-10,
    .gallery-block-20,
    .gallery-block-25,
    .gallery-block-30,
    .gallery-block-40,
    .gallery-block-50,
    .gallery-block-60,
    .gallery-block-rtl-10,
    .gallery-block-rtl-20,
    .gallery-block-rtl-25,
    .gallery-block-rtl-30,
    .gallery-block-rtl-40,
    .gallery-block-rtl-50,
    .gallery-block-rtl-60 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .section-content-wrapper,
    .section-description {
        font-size: 16px;
    }

    .single-slide-wrap .slider-title {
        font-size: 28px;
    }

    .single-slide-wrap .slider-desc {
        display: none;
    }

    .single-slide-wrap .slide-button a {
        margin-bottom: 15px;
    }

    .section-description {
        font-size: 16px;
    }

    .service-nav-tab li:last-child .tab-bullet:after {
        display: none;
    }

    .section-content-wrapper ul li:nth-of-type(2n) {
        margin: 0 auto 30px;
    }

    /* .section-content-wrapper ul li:first-child .team-image-container:hover,
  .section-content-wrapper ul li:nth-of-type(2n+1) .team-image-container:hover {
    right: auto;
    left: -233px;
    z-index: 99;
  } */
}
