/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #666666;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    text-align: center;
    padding: 15px;
}

p {
    color: #0f0f0f;
    font-family: Lato, monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    text-decoration: none;
    text-indent: 5%;
    text-transform: none;
}

h1 {
    color: beige;
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1em;
}

h2 {
    color: #d8d8d8;
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: none;
    text-decoration: none;
}

h3 {
    color: #d8d8d8;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5%;
    text-decoration: none;
    text-transform: uppercase;
}

.lc-home-section .section-title {
    font-family: 'Roboto Mono, monospace';
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 74px;
    line-height: 1em;
    color: #666666;
}

.section-sub-title {
    font-family: 'Roboto Mono, monospace';
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1em;
    color: #666666;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: monospace;
    /* font-size: 15px; */
    font-size: 0.9375rem;
}

/* abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
} */

mark,
ins {
    background: transparent;
    text-decoration: none;
}

big {
    font-size: 125%;
}

span.burgeon {
    font-family: 'Nova mono';
    font-weight: normal;
    color: black;
    letter-spacing: -1px;
    text-transform: none;
}

p.code,
div.background-slide p.code,
div.bkg-img p.code {
    background-color: black;
    color: #7b9c42;
    font-family: 'Roboto Mono',monospace;
    font-size: 20px;
    padding: 5px;
    padding-left: 10%;
    margin: 0;
    text-indent: 0;
    width: 100%;
}

/* p.code br:before {
    content: '_> '
}

p.code:before {
    content: '_> '
} */

blockquote {
    margin: 0 15%;
    max-width: 65%;
}

blockquote p {
    font-family: 'monospace';
    font-size: 17px;
}
